<h1 class="text-center">Diários</h1>
<div class="row text-center">
  <div class="col-sm-12 col-md-2">
    <h1>
      <a href=""><span class="glyphicon glyphicon-book" aria-hidden="true" style="font-size: 2.3em"></span></a>
    </h1>
  </div>
    <div class="col-sm-12 col-md-2">
    <h1>
       <a href=""><span class="glyphicon glyphicon-book" aria-hidden="true" style="font-size: 2.3em"></span></a>
    </h1>
  </div>
    <div class="col-sm-12 col-md-2">
    <h1>
       <a href=""><span class="glyphicon glyphicon-book" aria-hidden="true" style="font-size: 2.3em"></span></a>
    </h1>
  </div>
    <div class="col-sm-12 col-md-2">
    <h1>
       <a href=""><span class="glyphicon glyphicon-book" aria-hidden="true" style="font-size: 2.3em"></span></a>
    </h1>
  </div>
    <div class="col-sm-12 col-md-2">
    <h1>
       <a href=""><span class="glyphicon glyphicon-book" aria-hidden="true" style="font-size: 2.3em"></span></a>
    </h1>
  </div>
</div>

