		<div id="sidebar-wrapper">
			<ul class="sidebar-nav nav-pills nav-stacked" id="menu">
				<li class="active">
					<a href="#"><span class="fa-stack fa-lg pull-left"><i class="glyphicon glyphicon-home"></i></span> Dashboard</a>
					<ul class="nav-pills nav-stacked" style="list-style-type:none;">
						<li><a href="#">link1</a></li>
						<li><a href="#">link2</a></li>
					</ul>
				</li>
				<li>
					<a href="#"><span class="fa-stack fa-lg pull-left"><i class="glyphicon glyphicon-ice-lolly "></i></span> Alunos</a>
					<ul class="nav-pills nav-stacked" style="list-style-type:none;">
						<li><a href="#"><span class="fa-stack fa-lg pull-left"><i class="glyphicon glyphicon-leaf "></i></span>Cadastrar Aluno</a></li>
						<li><a href="#"><span class="fa-stack fa-lg pull-left"><i class="glyphicon glyphicon-leaf "></i></span>link2</a></li>
					</ul>
				</li>
			</ul>
		</div><!-- /#sidebar-wrapper -->
		<!-- Page Content -->
		<div id="page-content-wrapper">
			<div class="container-fluid xyz">
				<div class="row">
					<div class="col-lg-12">
					<app-familink-aluno-perfil></app-familink-aluno-perfil>
					</div>
				</div>
			</div>
		</div>

